main{
    height: calc(100% - 65px);
    display: flex;
    background-image: -webkit-radial-gradient(white,#4a4a4a);
}
.download{
    text-align: center;
  }
  
.download-link {
    width: 30em;
    height: 40px;
}

.download-btn{
    width: 5em;
    height: 40px;
    cursor: pointer;
}

#format{
    display: flex;
}
#resolution{
    display: flex;
}
#options{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
}
#options input{
    place-self: center;
    margin: 0px 5px;
}
  
#box{
    place-self: center;
    margin: auto;
}