.download{
    text-align: center;
    margin-top: 10%;
  }
  
  .download-link {
      width: 30em;
      height: 40px;
  }
  
  .download-btn{
      width: 5em;
      height: 40px;
      cursor: pointer;
  }
  
  