<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">

    <title>DownTube</title>
    {%block Head%}{% endblock %}
</head>

<body>
    <header class="header">
        <nav class="header-main">
            <a href="/"><img class="header-img" src="static/img/logo.png" alt=""></a>
            <label for="click">
            </label>
            <ul class="header-menu">
                <li><a class="header-item" href="{{url_for('index')}}">Inicio</a></li>
                <li><a class="header-item" href="#">GitHub</a></li>
                <li><a class="header-item" href="{{url_for('sobre')}}">Sobre</a></li>
            </ul>

        </nav>
    </header>

    {%block Body%}{% endblock %}
    {%block Footer%}{% endblock %}
</body>

</html>