{% extends 'base.html' %}

{% block Head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/download.css')}}">
    <!-- Tudo Que Fica No HEAD -->
{% endblock %}

{% block Body %}
    <!-- Tudo Que Fica No BODY -->
    <!-- 
    VARIAVEIS

    {{titulo}}
    {{thumbnail}}
    {{time}}
    {{data}}
    {{views}}
    {{autor}}
    -->
    <p>Titulo: {{titulo}}</p>
    <img src="{{thumbnail}}" alt="">
    <p>Time: {{time}}</p>
    <p>Data: {{data}}</p>
    <p>Views: {{views}}</p>
    <p>Autor: {{autor}}r</p>
    <a href="{{url_file}}" download>Download</a>

{% endblock %}

{% block Footer %}
    <!-- Aqui Fica Os Js Q São Executado Por Ultimo -->
    <script src="{{url_for('static',filename='js/download.js')}}"></script>
{% endblock %}

