{% extends 'base.html' %}

{% block Head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/download.css')}}">
    <!-- Tudo Que Fica No HEAD -->
{% endblock %}

{% block Body %}
    <!-- Tudo Que Fica No BODY -->
    <!-- 
    VARIAVEIS

    {{titulo}}
    {{thumbnail}}
    {{time}}
    {{data}}
    {{views}}
    {{autor}}
    -->
    <main>
        <div id="card-video">
            
            <img src="{{thumbnail}}" alt="">
            <div>
                <p>Titulo: {{titulo}}</p>
                <p>Time: {{time}}</p>
                <p>Data: {{data}}</p>
                <p>Views: {{views}}</p>
                <p>Autor: {{autor}}</p>
                <a href="{{url_file}}" download>Download</a>
            </div>
        </div>
    </main>

{% endblock %}

{% block Footer %}
    <!-- Aqui Fica Os Js Q São Executado Por Ultimo -->
    <script src="{{url_for('static',filename='js/download.js')}}"></script>
{% endblock %}

